/*
Note: I have used auto-prefixer to make the css for all the browsers. I used the plugin and also online prefixer
I find it really interesting for no reason that keyframes also need to be prefixed.
*/

/* CSS ANIMATIONS */

/* These animations are inspired by vibrations, for gaining attention of user */
/* The animation is simple to understand,
1. We dont want to add any styling at the end of animation and for making it smooth, 0% and 100% contain no changes in transform.
2. At different interwals, I added transform: translate property to add the small movements that look like vibrations (I tried my best)
*/
@-webkit-keyframes cta-vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes cta-vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* 
Bounce-top and Bounce-bottom are also the animation I generally saw online on diferent sites, so I decided to make it.

Explained: :-
1. Starting with the element off the position
2. Getting the element to the actual position with timing function, gives illustion of striking
3. Changin the position back to off just by small distance make it look like bound with appropriate timing-function
*/

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* CSS Reset */
/* To make the default padding and margin to zero and box-zizing to border-box
Border Box property value add the padding and border to the actual width and height of element
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Default font family is set here as most of the elements inherit this property */
html,
body {
  font-family: "Raleway", sans-serif;
}

/* The default underline property is removed for the anchor tag */
a {
  text-decoration: none;
}

/* Container */
/* max-width need to be set to include the elements in desired width and margin property is used to center the elements */
.container {
  max-width: 1640px;
  margin: 0 auto;
}

main {
  /* Every absolute element is position relative to main element (position: relative don't bring and position change to the main) */
  position: relative;
}

/* NAVIGATION BAR */

nav {
  /* fixed position to bring the nav out of order and z-index to make it in front of every element on page */
  position: fixed;
  z-index: 100;
  background-color: #3c3b3a;
  color: #f2f2f2;
  font-size: 18px;
  width: 100%;
}

nav .container {
  margin: 0 auto;

  /* Flex to make the elements (2) position at each end horizontly */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.nav-logo {
  width: 88.04px;
  height: auto;
}

.nav-links {
  /* Flex to make the elements not the block */
  display: flex;
}
.nav-link {
  color: #f2f2f2;
  /* To align the links center vertically in the nav */
  margin: auto 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.nav-link:hover{
  /* hover effect on links */
    font-weight: bold;
}
.nav-link:not(:last-of-type) {
  /* I used pseudo elements :not and :last-of-type to add margin-right to every element except the last */
  margin-right: 53px;
}
.active-page {
  /* Just a class to change the style of active page link, added in the appropriate link in HTML */
  font-weight: bold;
}

/* ------------
HEADER SECTION
------------ */

header {
  /* The padding is calculated by adding the height of navigation bar and required difference */
  padding-top: 167px;
}
header .container {
  /* Flex is used to make the elements (2) position at each end horizontly and align center vertically to header */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
header .container:last-of-type{
  /* it add the center alignment to the scroll division on homepage */
    justify-content: center;
}
.cta-text {
  /* It is added according to the mockup provided by you respected sir */
  max-width: 536px;
}
.cta-text h1 {
  /* simple text styling and margin according to mockup */
  font-size: 72px;
  font-weight: bold;
  line-height: 85px;
  color: #3c3b3a;

  margin-bottom: 65px;
}
.cta-text_para {
  /* simple text styling and margin according to mockup */
  font-size: 24px;
  color: #3c3b3a;

  margin-bottom: 68px;
}

.cta-text_features {
  /* to use the default flex direction that is row and adding margin */
  display: flex;
  margin-bottom: 65px;
}
.cta-text_features-element {
  /* To center the elements horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-text_features-element:not(:last-of-type) {
  /* Adding the margin to all elements except the last one in feature icons */
  margin-right: 56px;
}
.cta-text_features-element_icon {
  /* those are icons so needed to use the font-size for height and width of icons */
  font-size: 35px;
  color: #3c3b3a;
  margin-bottom: 10px;
}
.cta-text_features-element_text {
  /* simple text styling */
  font-size: 16px;
  color: #26a682;
}

.cta-img {
  /* According to mockup */
  max-width: 951px;
}
.cta-img img {
  /* To limit the size according to the parent element */
  width: 100%;
}

.cta-text_button {
  /* To make it a reference for position of the button in it */
  position: relative;
}

.cta-button {
  position: absolute;
  /* simple text styling */
  font-size: 40px;
  font-weight: bold;
  color: #f2f2f2;
  line-height: 47px;
  padding: 10px 60px;
  background-color: #26a682;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  box-shadow: 0px 10px 10px rgba(18, 74, 58, 0.5);

  /* Used the short hand for the animation-name animation-duration animation-timing-function animation-iteration-count animation-fill-mode */
  animation: cta-vibrate 0.3s linear infinite both;
  -webkit-animation: cta-vibrate 0.3s linear infinite both;
  
  /* simple state change duration */
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.cta-button:hover{
  /* hover effect stops the animation and change background color */
    background-color: #17644e;
    animation: none;
    -webkit-animation: none;
}

header .scroll {
  display: flex;
  justify-content: center;
  position: relative;
}

.scroll .header-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
  animation-iteration-count: infinite;
}
.scroll .header-scroll:hover{
    animation: none;
    -webkit-animation: none;
}
.header-scroll span {
  font-size: 12px;
  color: #3c3b3a;
  margin-bottom: 5px;
}
.header-scroll i {
  font-size: 50px;
  color: #26a682;
}

/* ------------- 
DISCOVER SECTION
------------- */

section.discover-college {
  padding: 82px 0;
  background-color: #f2f2f2;
}
.discover-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "discoverImg discoverText";
}
.discover-img {
  height: 337px;
  overflow: hidden;
  position: relative;
}
.discover-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.discover-text {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.section-heading {
  font-size: 40px;
  color: #3c3b3a;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
.section-secondary-heading {
  font-size: 32px;
  line-height: 37px;
  color: #26a682;
  margin-bottom: 15px;
}
.section-para {
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
}
.discover-text a.section-link {
  font-size: 27px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 7px 42px;
  align-self: flex-end;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #26a682;
  box-shadow: 0 10px 10px rgba(18, 74, 58, 0.5);
  margin-top: auto;

  animation: cta-vibrate 0.3s linear infinite both;
}
.discover-text a.section-link:hover{
    background-color: #17644e;
    animation: none;
    -webkit-animation: none;
}

/* ----------------- 
 REVIEW SECTION
----------------- */

.review-section {
  background-color: #3c3b3a;
  color: #f2f2f2;
  padding: 38px 0;
}
.review-section .container {
  display: flex;
  flex-direction: row;
}
.review-profile {
  display: flex;
  flex-direction: row;
}
.review-profile_photo {
  width: 175px;
  overflow: hidden;
  margin-right: 100px;
}
.review-profile_photo img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #f2f2f2;
}
.review-profile_name {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;

  width: 178px;
  text-align: center;
  align-self: center;
}
.review-comment {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.review-comment p {
  font-size: 24px;
  line-height: 35px;
}

/* ----------------------------
DISCOVER ENTERTAINEMENT SECTION
----------------------------- */

.discover-entertainment {
  padding: 82px 0;
  background-color: #f2f2f2;
}
.discover-entertainment .discover-container {
  grid-template-areas: "discoverText discoverImg";
}
.discover-img {
  grid-area: discoverImg;
}
.discover-text {
  grid-area: discoverText;
}
.discover-entertainment .discover-container .discover-text {
  padding-left: 0;
  padding-right: 40px;
}
.discover-entertainment .discover-container .discover-img {
  background-image: url(images/entertainment.jpg);
  background-size: 100%;
}

/* -----------
FOOTER SECTION
------------ */

footer {
  padding: 32px 0;
  background-color: #3c3b3a;
  position: relative;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  margin-bottom: 10px;
}
.footer-text span {
  font-size: 24px;
  line-height: 29px;
  color: #f2f2f2;
}
.footer-link:not(:last-of-type) {
  margin-right: 10px;
}
.back-to-top {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: bounce-bottom 0.9s both;
  animation: bounce-bottom 0.9s both;
  animation-iteration-count: infinite;
}
.back-to-top:hover{
    animation:none;
    -webkit-animation:none;
}
.back-to-top span {
  font-size: 16px;
  color: #f2f2f2;
}

/* ---------------------
ADDING SOME SOME PADDING
--------------------- */
nav,
header,
section.discover-college,
.review-section,
.discover-entertainment,
footer {
  padding-left: 80px;
  padding-right: 80px;
}

/* ----------
MEDIA QUERIES
---------- */

/* Screen Below 1488px width */
@media only screen and (max-width: 1648px) {
  /* HEADER SECTION */

  .cta-text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 41px auto;
  }
  .cta-img {
    margin: 0 auto;
    max-width: none;
    width: 80%;
  }
  .cta-text_button{
    width: 100%;
    height: 67px;
  }
  .cta-button{
    left: calc(50% - 340.39px/2);
  }

  /* DISCOVER COLLEGE SECTION */
  section.discover-college {
    padding: 0;
  }
  .discover-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "discoverImg "
      "discoverText";
    padding-bottom: 41px;
  }
  .discover-text {
    margin-top: 42px;
    padding: 0 80px;
  }

  /* REVIEW SECTION */
  .review-profile {
    flex-direction: column;
  }
  .review-profile_photo {
    margin: 0 0 28px 0;
  }

  /* DISCOVER ENTERTAINMENT */
  .discover-entertainment {
    padding: 0;
  }
  .discover-entertainment .discover-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "discoverImg "
      "discoverText";
    padding-bottom: 41px;
  }
  .discover-entertainment .discover-container .discover-text {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 525px) {
  /* Changing the padding */
  nav,
  header,
  section.discover-college,
  .review-section,
  .discover-entertainment,
  footer {
    padding-left: 36px;
    padding-right: 36px;
  }

  /* NAVIGATION SECTION */
  nav .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-link:not(:last-of-type) {
    margin: 0 0 23px 0;
  }

  /* HEADER SECTION */
  header {
    padding-top: 272.04px;
  }
  .cta-text h1 {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 19px;
  }
  .cta-text_para {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .cta-text_features {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21.64px;
  }
  .cta-text_features-element:not(:last-of-type) {
    margin: 0;
  }
  .cta-button {
    font-size: 32px;
    line-height: 37px;
    left: calc(50% - 296.39px/2);
  }
  .container.scroll {
    display: none;
  }
  .cta-img {
    width: 90%;
  }
  /* DISCOVER COLLEGE SECTION */
  section.discover-college {
    padding: 0;
  }
  .discover-container {
    grid-template-rows: auto 1fr;
  }
  .discover-img {
    max-height: 200px;
  }
  .discover-text {
    padding: 0 36px;
  }
  .section-heading {
    font-size: 32px;
    line-height: 37px;
  }
  .section-secondary-heading {
    font-size: 24px;
    line-height: 29px;
  }
  .section-para {
    font-size: 16px;
    line-height: 35px;
  }
  .discover-text a.section-link {
    font-size: 20px;
    line-height: 24px;
    padding: 11px 21px;
  }

  /* REVIEW SECTION */
  .review-section .container {
    flex-direction: column;
    align-items: center;
  }
  .review-profile {
    margin-bottom: 20px;
  }
  .review-comment {
    margin: 0;
  }
  .review-comment p {
    font-size: 16px;
    line-height: 35px;
  }

  /* DISCOVER ENTERTAINMENT SECTION */
  .discover-entertainment {
    padding: 0;
  }
  .discover-entertainment .discover-container {
    grid-template-rows: auto 1fr;
  }
  .discover-entertainment .discover-container .discover-text {
    padding: 0 36px;
  }

  /* FOOTER SECTION */
  .back-to-top {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
}
@media only screen and (max-width: 369px) {
  /* HEADER SECTION */
  .cta-button {
    font-size: 24px;
    padding: 10px 30px;
  }

  /* FOOTER SECTION */
  .back-to-top {
    display: none;
  }
}
